* {
    margin: 0;
    padding: 0;
    }
    
    html {
    font-size: 62.5%;
  
    }
    
    body {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 180%
    
    }
    h1 {
        color: rgb(255, 255, 255);
    }
    .hero {
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 610px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    }
    
    .hero__description {
    text-align: center;
    margin-top: 15px;
    color: rgb(255, 255, 255)
    
    ;
    
    }
    
    img{
    width: 90px;
    
    }
    
    header {
    background-color: rgb(19, 95, 235);
    width: 100%;
    clear: both;
    content: '';
    display: table;
    
    }
    .menu {
    width: 900px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    
    }
    
    nav {
    float: right;
    
    }
    
    nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;
    position: relative;
    }
    
    nav ul li a {
    
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: x-large;
    }
    
    nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background-color: rgb(0, 0, 0);
    height: 10px;
    top: 0;
    position: absolute;
    transition: width 0.5s;
    }
    
    nav ul li a:hover::before {
    width: 100%;
    
    }
    
    footer {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    
    color: rgb(255, 255, 255);
    }
    
    .copyrightContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255, 0.3);
    }
    
    .copyright {
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
    
    }
    
    .footerMenu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    }
    
    .footerContainer {
    font-family: 'Times New Roman', Times, serif;
    height: 200px;
    width: 100%;
    padding: 1rem 3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    }
    
    .footerContentContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    }
    
    footer .logo {
    margin-bottom: 1.2rem;
    font-size: 15px;
    }
    
    .infoFooter .menuItemfooter {
    margin: 0.2rem 0;
    opacity: 0.7;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.5s;
    }
    
    .menuItemfooter:hover{
    opacity: 1;
    }
    
    .tituloDemenu {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    margin: 5px;
    }
    
    .socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    
    }
    
    .linkSocial {
    height: 100%;
    width: 30px;
    background-image: url(.//fb.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
    
    }
    
    .linkSocial:hover {
    opacity: 0.7;
    }
    
    .tituloDemenu {
    
    }
    footer .linkSocial:nth-of-type(2) {
    background-image: url(./tw.jpg);
    }
    footer .linkSocial:nth-of-type(3) {
    background-image: url(./lk.jpg) ;
    
    }
    
    @media (max-width: 768px) {
    html {
    padding: 2rem;
    flex-direction: column;
    
    }
    
    }

   @media (max-width: 974px) {
    html {
        
    }
   }
    